   body{
     background-color: #2d2c2c;
     color: lightgray;
     font-family: 'Montserrat', sans-serif;
   }

   .heading {
     letter-spacing: 3px;
   }

   /*Navigation*/

   .navbar brand {
     font-family: 'Montserrat', sans-serif;
   }

   .navbar {
     margin-bottom: 0;
     background-color: #2d2d30;
     border: 0;
     font-size: 12px !important;
     letter-spacing: 4px;
     opacity:0.9;
   }

   .navbar li a, .navbar .navbar-brand {
     color: #d5d5d5 !important;
   }

   .page-links a{
     color:#d5d5d5 !important;
   }

   .navbar-nav li a:hover {
     color: #fff !important;
   }

   .navbar-nav li.active a {
     color: #fff !important;
     background-color:#242426 !important;
   }

   .navbar-toggle a:hover {
     background-color:#242426;
   }
   
   /*Projects*/
   .projects-container {
    background-color:#d3d3d3;
    color: #323232;
   }

    .projects{
     border-color: darkgray;
     border-width: 0.5px;
     border-style: solid;
   }

    .project-link a{
       color: #2d2d30;
    }

   .thumbnails{
     margin-top:20px;
     width: 359px;
     height: 206px;
     border-radius: 10px;
   }

   .description{
     border-color: gray;
     border-width: 0.5px;
     border-style: solid;
   }

   .banner{
     margin-top: 0px;
     background-color: lightgray;
   }

   .navbar{
     opacity:0.9;
   }


   .author{
     color: lightgray;
   }


  /*Contact Form*/
   .form-control:focus{
     border: 0px solid;
     -webkit-box-shadow: none;
     box-shadow: none;
     border-bottom: 2px solid #ccc !important; 
     color:#d3d3d3 !important;
   }

   .form-control{
    border: 0px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #ccc !important; 
   }

   .center-div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
   }

   
   .center {
    text-align:center;
   }

   .center form {
    display:inline-block;
   }

  /*remove blue glow color - Contact form*/

  input[type="text"], textarea { 
    color:#cccccc;
    outline: none; 
    border: 0px solid;
    border-bottom: 2px solid #ccc !important; 
    box-shadow:none !important; 
    -webkit-box-shadow: none;
    -moz-box-shadow: none !important;
  } 

  .input-group {
    color:#d3d3d3 !important;
  }
  
  label {
    color:#d3d3d3 !important;
  }

  .btn {
    background-color:#d3d3d3 !important;
    color: #323232 !important;
    margin-left: 90px !important;
  }


/*Social*/
.social [class*="fa fa-"] {
    background-color: #333;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: auto 3px;
    width: 40px;
    font-size: 30px;
    text-align: center;
}

.fa-github:hover, .fa-free-code-camp:hover, .fa-codepen:hover { 
    background-color: #ffffff; 
    color: #333333;
}
