
html, body {
    margin:0;
    padding:0;
    max-width: 100%;
}

body{
    background-color: #121111; /*#2d2c2c;*/
    color: lightgray;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
 }

.container-fluid{
    max-width: 100%;
}

* {
  box-sizing: border-box;
}


.heading {
     letter-spacing: 3px;
}

/* ABOUT */

.hello {
	font-family: 'Marck Script', cursive;
	font-size:50px;
}

.bg-image {
  /* Background image */
  /* background-image: url(images/bg-bio.jpg); */
  
  /* Add the blur effect */
  filter: blur(5px);
  -webkit-filter: blur(5px);
  
  /* Height and Width*/
  height: 100%;
  margin:0;
  padding:0;
  max-width: 100%;

  /* Center and scale image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 50px;
  text-align: center;
}

/* NAVIGATION */

.navbar brand {
     font-family: 'Montserrat', sans-serif;
}

.navbar {
     margin-bottom: 0;
     background-color: #2d2d30;
     border: 0;
     font-size: 12px !important;
     letter-spacing: 4px;
     opacity:0.9;
}

.navbar li a, .navbar .navbar-brand {
     color: #d5d5d5 !important;
}

.page-links a{
     color:#d5d5d5 !important;
}

.navbar-nav li a:hover {
     color: #fff !important;
}

.navbar-nav li.active a {
     color: #fff !important;
     background-color:#242426 !important;
}

.navbar-toggle a:hover {
     background-color:#242426;
}

   /*SKILLS*/
.skills-categories {
   word-spacing: 90px;
   margin: 0 auto;
   margin-left: 70px;
   position: relative;
}

.skills-subcat {
   width: 100%;
   clear:both;
   position: relative;
   float: right;
   position: absolute;
   text-align:center;
}

.skills-basic {
   font-size: 13px;
   width: 80%;
   display:inline;
}

.skills {
   width: 500px;
   margin: 0 auto;
   margin-bottom: 10px;
   position: relative;
   overflow-x: hidden;
}

.skills > p {
   font-size: 14px;
   font-weight: 700;
   margin: 0;
}

.skills:before {
   width: 100%;
   height: 3px;
   content: "";
   display: block;
   position: absolute;
   background: #959595;
   bottom: 0;
}

.skill-bar{
   width: 100%;
   height: 3px;
   background: #7EC0EE;
   display: block;
   position: relative;
}

.skill-bar span {
   position: absolute;
   top:-20px;
   padding: 0;
   font-size: 14px;
   padding: 1px 0px;
   font-weight: 700;
}   

.skill-bar {
   position: relative;
}

.skill-cplusplus {
   width: 70%;
}

.skill-cplusplus .skill-count1{
   right: 0;
}

.skill-java {
   width: 70%;
}

.skill-java .skill-count2{
   right: 0;
}

.skill-html {
   width: 95%;
}

 .skill-html .skill-count3{
   right: 0;
}

.skill-css {
   width: 85%;
}

 .skill-css .skill-count4{
   right: 0;
}

.skill-javascript {
   width: 65%;
}

.skill-javascript .skill-count5{
   right: 0;
}

.skill-angular {
   width: 45%;
}

.skill-angular .skill-count6{
   right: 0;
}

.skill-backend {
   width: 55%;
}

.skill-backend .skill-count7{
   right: 0;
}

.skill-mongo {
   width: 50%;
}

.skill-mongo .skill-count8{
   right: 0;
}

.skill-aws {
   width: 50%;
}

.skill-aws .skill-count9{
   right: 0;
}

   /* Projects */
.projects-container {
     background-color: #d3d3d3;
     color: #323232;
}

.projects{
     border-color: darkgray;
     border-width: 0.1px;
     border-style: solid;
}

.project-link a{
     color: #2d2d30;
}

.thumbnails{
     margin-top: 20px;
     width: 359px;
     height: 206px;
     border-radius: 10px;
     border-color: #e4e4e4;
     border-width: 3px;
     border-style: solid;
}

.last {
    padding-top: 35px;
    padding-bottom: 69.5px;
}

.lastflip {
    padding-top: 32px;
}


   /* Flip Projects */
  
.flip {
     width: 359px;
     height: 206px;
     margin: 0 auto;
     perspective: 1000;
     transform-style: preserve-3d;
     -webkit-transform-style: preserve-3d;
     -webkit-perspective: 1000;
}

.flip img {
     width: 359px;
     height: 206px;
     border-radius: 10px;
}

.flip .back {
     margin-bottom: -15px;
     background: #d3d3d3;
     color: #323232;
     text-align: center;
     border-radius: 10px;
     border-color: #e4e4e4;
     border-width: 3px;
     border-style: solid;
}

.flip .front {
     margin: -25px auto;
}

/* Social Projects */

.social-projects [class*="fa fa-"] {
     background-color: #e4e4e4;
     border-radius: 30px;
     color: #333333;
     display: inline-block;
     height: 35px;
     line-height: 35px;
     margin: auto 3px;
     margin-bottom: 0px;
     width: 35px;
     font-size: 30px;
     text-align: center;
}

.social-projects .fa-github:hover, .fa-play-circle:hover { 
     background-color: #333333;
     color: #e4e4e4;
}

.description{
     border-color: gray;
     border-width: 0.5px;
     border-style: solid;
}

.banner{
     margin-top: 0px;
     background-color: lightgray;
}

.navbar{
     opacity:0.9;
}

.author{
     color: lightgray;
}


 /* Contact Form */

.form-control:focus{
     border: 0px solid;
     -webkit-box-shadow: none;
     box-shadow: none;
     border-bottom: 2px solid #ccc !important; 
     color:#d3d3d3 !important;
}

.form-control{
     border: 0px solid;
     -webkit-box-shadow: none;
     box-shadow: none;
     border-bottom: 2px solid #ccc !important; 
}

.center-div{
     margin: 0 auto;
     width:80% 
}
   
.center {
     text-align:center;
}

.center form {
     display:inline-block;
}

  /* Remove blue glow color - Contact Form */

input[type="text"], textarea { 
    color:#cccccc;
    outline: none; 
    border: 0px solid;
    border-bottom: 2px solid #ccc !important; 
    box-shadow:none !important; 
    -webkit-box-shadow: none;
    -moz-box-shadow: none !important;
} 

.input-group {
     color:#d3d3d3 !important;
}
  
label {
     color:#d3d3d3 !important;
}

.btn {
     background-color:#d3d3d3 !important;
     color: #323232 !important;
     margin-left: 90px !important;
}

   /* Social */

.social [class*="fa fa-"] {
     background-color: #333;
     border-radius: 30px;
     color: #fff;
     display: inline-block;
     height: 40px;
     line-height: 40px;
     margin: auto 3px;
     width: 40px;
     font-size: 30px;
     text-align: center;
}

.fa-github:hover, .fa-free-code-camp:hover, .fa-codepen:hover { 
     background-color: #ffffff; 
     color: #333333;
}
	
/* Gallery */

#gallery {
	width: 1000px;
	height: 900px;
	margin: 10px auto;
	padding: 0px;
	position: relative;
}
	
#gallery div {
	background: #fff;
	position: absolute;
	overflow: hidden;
	opacity: 1.9;
	-webkit-transition: all 1500ms linear;
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: -3px -3px 50px #666;
	-moz-box-shadow: -3px -3px 50px #666;
	box-shadow: -3px -3px 50px #666;
}
			
#gallery div#img1:hover,
#gallery div#img2:hover,
#gallery div#img3:hover,
#gallery div#img4:hover,
#gallery div#img5:hover,
#gallery div#img6:hover,
#gallery div#img7:hover,
#gallery div#img8:hover {
	z-index: 999;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	opacity: 1;
}		
		
#gallery span {
	position: absolute;
	right: 0;
	bottom: 15px;
	color: #999;
	background: #fff;
	width: 55%;
	text-align: right;
	padding: 6px;
	font-size: 13px;
	font-weight: bold;
}
			
#gallery img {
	-webkit-mask-repeat: none;
}
		
#gallery #img1 {
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	top: 100px;
	left: 130px;
	z-index:1;
}
			
#gallery #img2 {
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	top: 300px;
	left:100px;
	z-index:7;
}
			
#gallery #img3 {
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-15deg);
	top: 450px;
	left:350px;
	z-index:3;
}
			
#img3 img {
	width: 350px;
}

#gallery #img4 { /* eye */
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	top: 450px;
	left: 650px;
	z-index:4;
}
			
#gallery #img5 {
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	top: 300px;
	right: 200px;
	z-index:5;
}
			
#gallery #img6 {
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	top: 160px;
	right: 120px;
	z-index:6;
}
			
#gallery #img7 {
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	top: 560px;
	right: 320px;
	z-index:6;
}
			
#gallery #img8 {
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	top: 560px;
	right: 320px;
	z-index:6;
}
			
   margin: 0 auto;
   margin-left: 70px;
   position: relative;
}

.skills-subcat {
   width: 100%;
   clear:both;
   position: relative;
   float: right;
   position: absolute;
   text-align:center;
}

.skills-basic {
   font-size: 13px;
   width: 80%;
   display:inline;
}

.skills {
   width: 500px;
   margin: 0 auto;
   margin-bottom: 10px;
   position: relative;
   overflow-x: hidden;
}

.skills > p {
   font-size: 14px;
   font-weight: 700;
   margin: 0;
}

.skills:before {
   width: 100%;
   height: 3px;
   content: "";
   display: block;
   position: absolute;
   background: #959595;
   bottom: 0;
}

.skill-bar{
   width: 100%;
   height: 3px;
   background: #7EC0EE;
   display: block;
   position: relative;
}

.skill-bar span {
   position: absolute;
   top:-20px;
   padding: 0;
   font-size: 14px;
   padding: 1px 0px;
   font-weight: 700;
}   

.skill-bar {
   position: relative;
}

.skill-cplusplus {
   width: 70%;
}

.skill-cplusplus .skill-count1{
   right: 0;
}

.skill-java {
   width: 70%;
}

.skill-java .skill-count2{
   right: 0;
}

.skill-html {
   width: 95%;
}

 .skill-html .skill-count3{
   right: 0;
}

.skill-css {
   width: 85%;
}

 .skill-css .skill-count4{
   right: 0;
}

.skill-javascript {
   width: 65%;
}

.skill-javascript .skill-count5{
   right: 0;
}

.skill-angular {
   width: 45%;
}

.skill-angular .skill-count6{
   right: 0;
}

.skill-backend {
   width: 55%;
}

.skill-backend .skill-count7{
   right: 0;
}

.skill-mongo {
   width: 50%;
}

.skill-mongo .skill-count8{
   right: 0;
}

.skill-aws {
   width: 50%;
}

.skill-aws .skill-count9{
   right: 0;
}

   /* PROJECTS */
.projects-container {
     background-color:#d3d3d3;
     color: #323232;
    }

.projects{
     border-color: darkgray;
     border-width: 0.1px;
     border-style: solid;
    }

.project-link a{
     color: #2d2d30;
    }

.thumbnails{
     margin-top: 20px;
     width: 359px;
     height: 206px;
     border-radius: 10px;
     border-color: #e4e4e4;
     border-width: 3px;
     border-style: solid;
    }

.last {
    padding-top: 35px;
    padding-bottom: 69.5px;
}

.lastflip {
    padding-top: 32px;
}


   /* FLIP PROJECTS */
  
.flip {
     width: 359px;
     height: 206px;
     margin: 0 auto;
     perspective: 1000;
     transform-style: preserve-3d;
     -webkit-transform-style: preserve-3d;
     -webkit-perspective: 1000;
    }

.flip img {
     width: 359px;
     height: 206px;
     border-radius: 10px;
    }
.flip .back {
     margin-bottom: -15px;
     background: #d3d3d3;
     color: #323232;
     text-align: center;
     border-radius: 10px;
     border-color: #e4e4e4;
     border-width: 3px;
     border-style: solid;
    }

.flip .front {
     margin: -25px auto;
    }


/* SOCIAL PROJECTS */

.social-projects [class*="fa fa-"] {
     background-color: #e4e4e4;
     border-radius: 30px;
     color: #333333;
     display: inline-block;
     height: 35px;
     line-height: 35px;
     margin: auto 3px;
     margin-bottom: 0px;
     width: 35px;
     font-size: 30px;
     text-align: center;
   }

.social-projects .fa-github:hover, .fa-play-circle:hover { 
     background-color: #333333;
     color: #e4e4e4;
    }

.description{
     border-color: gray;
     border-width: 0.5px;
     border-style: solid;
    }

.banner{
     margin-top: 0px;
     background-color: lightgray;
    }

.navbar{
     opacity:0.9;
    }

.author{
     color: lightgray;
    }


 /* CONTACT FORM */

.form-control:focus{
     border: 0px solid;
     -webkit-box-shadow: none;
     box-shadow: none;
     border-bottom: 2px solid #ccc !important; 
     color:#d3d3d3 !important;
    }

.form-control{
     border: 0px solid;
     -webkit-box-shadow: none;
     box-shadow: none;
     border-bottom: 2px solid #ccc !important; 
    }

.center-div{
     margin: 0 auto;
     width:80% 
    }
   
.center {
     text-align:center;
    }

.center form {
     display:inline-block;
    }

  /* REMOVE BLUE GLOW COLOR - CONTACT FORM */

input[type="text"], textarea { 
    color:#cccccc;
    outline: none; 
    border: 0px solid;
    border-bottom: 2px solid #ccc !important; 
    box-shadow:none !important; 
    -webkit-box-shadow: none;
    -moz-box-shadow: none !important;
    } 

.input-group {
     color:#d3d3d3 !important;
    }
  
label {
     color:#d3d3d3 !important;
    }

.btn {
     background-color:#d3d3d3 !important;
     color: #323232 !important;
     margin-left: 90px !important;
    }

   /* SOCIAL */

.social [class*="fa fa-"] {
     background-color: #333;
     border-radius: 30px;
     color: #fff;
     display: inline-block;
     height: 40px;
     line-height: 40px;
     margin: auto 3px;
     width: 40px;
     font-size: 30px;
     text-align: center;
    }

.fa-github:hover, .fa-free-code-camp:hover, .fa-codepen:hover { 
     background-color: #ffffff; 
     color: #333333;
    }
  /* Center and scale image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 50px;
  text-align: center;
}

/* NAVIGATION */

.navbar brand {
     font-family: 'Montserrat', sans-serif;
}

.navbar {
     margin-bottom: 0;
     background-color: #2d2d30;
     border: 0;
     font-size: 12px !important;
     letter-spacing: 4px;
     opacity:0.9;
}

.navbar li a, .navbar .navbar-brand {
     color: #d5d5d5 !important;
}

.page-links a{
     color:#d5d5d5 !important;
}

.navbar-nav li a:hover {
     color: #fff !important;
}

.navbar-nav li.active a {
     color: #fff !important;
     background-color:#242426 !important;
}

.navbar-toggle a:hover {
     background-color:#242426;
}

   /*SKILLS*/
.skills-categories {
   word-spacing: 90px;
   margin: 0 auto;
   margin-left: 70px;
   position: relative;
}

.skills-subcat {
   width: 100%;
   clear:both;
   position: relative;
   float: right;
   position: absolute;
   text-align:center;
}

.skills-basic {
   font-size: 13px;
   width: 80%;
   display:inline;
}

.skills {
   width: 500px;
   margin: 0 auto;
   margin-bottom: 10px;
   position: relative;
   overflow-x: hidden;
}

.skills > p {
   font-size: 14px;
   font-weight: 700;
   margin: 0;
}

.skills:before {
   width: 100%;
   height: 3px;
   content: "";
   display: block;
   position: absolute;
   background: #959595;
   bottom: 0;
}

.skill-bar{
   width: 100%;
   height: 3px;
   background: #7EC0EE;
   display: block;
   position: relative;
}

.skill-bar span {
   position: absolute;
   top:-20px;
   padding: 0;
   font-size: 14px;
   padding: 1px 0px;
   font-weight: 700;
}   

.skill-bar {
   position: relative;
}

.skill-cplusplus {
   width: 70%;
}

.skill-cplusplus .skill-count1{
   right: 0;
}

.skill-java {
   width: 70%;
}

.skill-java .skill-count2{
   right: 0;
}

.skill-html {
   width: 95%;
}

 .skill-html .skill-count3{
   right: 0;
}

.skill-css {
   width: 85%;
}

 .skill-css .skill-count4{
   right: 0;
}

.skill-javascript {
   width: 65%;
}

.skill-javascript .skill-count5{
   right: 0;
}

.skill-angular {
   width: 45%;
}

.skill-angular .skill-count6{
   right: 0;
}

.skill-backend {
   width: 55%;
}

.skill-backend .skill-count7{
   right: 0;
}

.skill-mongo {
   width: 50%;
}

.skill-mongo .skill-count8{
   right: 0;
}

.skill-aws {
   width: 50%;
}

.skill-aws .skill-count9{
   right: 0;
}

   /* Projects */
.projects-container {
     background-color: #d3d3d3;
     color: #323232;
}

.projects{
     border-color: darkgray;
     border-width: 0.1px;
     border-style: solid;
}

.project-link a{
     color: #2d2d30;
}

.thumbnails{
     margin-top: 20px;
     width: 359px;
     height: 206px;
     border-radius: 10px;
     border-color: #e4e4e4;
     border-width: 3px;
     border-style: solid;
}

.last {
    padding-top: 35px;
    padding-bottom: 69.5px;
}

.lastflip {
    padding-top: 32px;
}


   /* Flip Projects */
  
.flip {
     width: 359px;
     height: 206px;
     margin: 0 auto;
     perspective: 1000;
     transform-style: preserve-3d;
     -webkit-transform-style: preserve-3d;
     -webkit-perspective: 1000;
}

.flip img {
     width: 359px;
     height: 206px;
     border-radius: 10px;
}

.flip .back {
     margin-bottom: -15px;
     background: #d3d3d3;
     color: #323232;
     text-align: center;
     border-radius: 10px;
     border-color: #e4e4e4;
     border-width: 3px;
     border-style: solid;
}

.flip .front {
     margin: -25px auto;
}

/* Social Projects */

.social-projects [class*="fa fa-"] {
     background-color: #e4e4e4;
     border-radius: 30px;
     color: #333333;
     display: inline-block;
     height: 35px;
     line-height: 35px;
     margin: auto 3px;
     margin-bottom: 0px;
     width: 35px;
     font-size: 30px;
     text-align: center;
}

.social-projects .fa-github:hover, .fa-play-circle:hover { 
     background-color: #333333;
     color: #e4e4e4;
}

.description{
     border-color: gray;
     border-width: 0.5px;
     border-style: solid;
}

.banner{
     margin-top: 0px;
     background-color: lightgray;
}

.navbar{
     opacity:0.9;
}

.author{
     color: lightgray;
}


 /* Contact Form */

.form-control:focus{
     border: 0px solid;
     -webkit-box-shadow: none;
     box-shadow: none;
     border-bottom: 2px solid #ccc !important; 
     color:#d3d3d3 !important;
}

.form-control{
     border: 0px solid;
     -webkit-box-shadow: none;
     box-shadow: none;
     border-bottom: 2px solid #ccc !important; 
}

.center-div{
     margin: 0 auto;
     width:80% 
}
   
.center {
     text-align:center;
}

.center form {
     display:inline-block;
}

  /* Remove blue glow color - Contact Form */

input[type="text"], textarea { 
    color:#cccccc;
    outline: none; 
    border: 0px solid;
    border-bottom: 2px solid #ccc !important; 
    box-shadow:none !important; 
    -webkit-box-shadow: none;
    -moz-box-shadow: none !important;
} 

.input-group {
     color:#d3d3d3 !important;
}
  
label {
     color:#d3d3d3 !important;
}

.btn {
     background-color:#d3d3d3 !important;
     color: #323232 !important;
     margin-left: 90px !important;
}

   /* Social */

.social [class*="fa fa-"] {
     background-color: #333;
     border-radius: 30px;
     color: #fff;
     display: inline-block;
     height: 40px;
     line-height: 40px;
     margin: auto 3px;
     width: 40px;
     font-size: 30px;
     text-align: center;
}

.fa-github:hover, .fa-free-code-camp:hover, .fa-codepen:hover { 
     background-color: #ffffff; 
     color: #333333;
}
	
/* Gallery */

#gallery {
	width: 1000px;
	height: 900px;
	margin: 10px auto;
	padding: 0px;
	position: relative;
}
	
#gallery div {
	background: #fff;
	position: absolute;
	overflow: hidden;
	opacity: 1.9;
	-webkit-transition: all 1500ms linear;
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: -3px -3px 50px #666;
	-moz-box-shadow: -3px -3px 50px #666;
	box-shadow: -3px -3px 50px #666;
}
			
#gallery div#img1:hover,
#gallery div#img2:hover,
#gallery div#img3:hover,
#gallery div#img4:hover,
#gallery div#img5:hover,
#gallery div#img6:hover,
#gallery div#img7:hover,
#gallery div#img8:hover {
	z-index: 999;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	opacity: 1;
}		
		
#gallery span {
	position: absolute;
	right: 0;
	bottom: 15px;
	color: #999;
	background: #fff;
	width: 55%;
	text-align: right;
	padding: 6px;
	font-size: 13px;
	font-weight: bold;
}
			
#gallery img {
	-webkit-mask-repeat: none;
}
		
#gallery #img1 {
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	top: 100px;
	left: 130px;
	z-index:1;
}
			
#gallery #img2 {
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	top: 300px;
	left:100px;
	z-index:7;
}
			
#gallery #img3 {
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-15deg);
	top: 450px;
	left:350px;
	z-index:3;
}
			
#img3 img {
	width: 350px;
}

#gallery #img4 { /* eye */
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	top: 450px;
	left: 650px;
	z-index:4;
}
			
#gallery #img5 {
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	top: 300px;
	right: 200px;
	z-index:5;
}
			
#gallery #img6 {
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	top: 160px;
	right: 120px;
	z-index:6;
}
			
#gallery #img7 {
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	top: 560px;
	right: 320px;
	z-index:6;
}
			
#gallery #img8 {
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	top: 560px;
	right: 320px;
	z-index:6;
}
			
